* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(rgba(5, 7, 12 ,0.75), rgba(5, 7, 12, 0.75)),
    url(https://tec.com.pe/wp-content/uploads/2022/02/thumb-1920-1185634.jpg); 
    background-size: 100%;
    background-attachment: fixed;
    font-family: "Koulen";
    color: grey;
}
nav {
    background-color:rgba(5, 7, 12, 0.5);
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: center;
    position: fixed;
}
nav ul li {
    color: grey;
    font-size: 1.3em;
    display: inline-block;
    padding: 0 1em;
    text-decoration: overline;
}
nav ul li:hover {
    text-shadow: 0 0 0.5em;
}
h1 {
    color: grey;
    text-align: center;
    font-size: 3.5em;
}
img {
    transition: box-shadow 0.3s ease;
}
img:hover {
    box-shadow: 0 0 0.5em rgba(196, 186, 186);
}
p {
    width: 600px;
    color: grey;
    font-size: 1.1em;
    border: 0.1em solid grey;
    border-radius: 0.5em;
    padding: 0.5em;
    transition: box-shadow 0.3s ease;
}
p:hover {
    box-shadow: 0 0 0.5em rgba(196, 186, 186);
}
div {
    display: flex;
    justify-content: space-between;
    padding: 5em 3em;
}
.link-pag a {
    text-decoration: none;
    color: grey;
}
.section-1 {
   display: flex;
   justify-content: space-around;
}
.section-2 {
    padding-top: 2em 5em;
}
.section-2 h2 {
    background-color: black;
    font-size: 2em;
    line-height: 1.5em;
}
.link-movie {
    list-style-type: none;
    font-size: 1.3em;
}
.link-movie a {
    text-decoration:none;
    color: grey;
}
.section-2_ul {
    padding-top: 1.1em;
}
.aside {
    border: 0.1em solid grey;
    border-radius: 0.5em;
    padding: 1em 0.5em;
}
.aside-h2 {
    text-decoration: overline;
    font-size: 1.6em;
}
.aside-h2_li {
    font-size: 1.1em;
    list-style-type: none;
}

